<html>
	<head>
		<title>Lizzie's Blog!</title>
	</head>

	<body>
    	<div>
    		<h1>Lizzie's Blog!</h1>
    		<h2>Blogging for PyCon</h2>
    	</div>

    	<div>
	    	<p>Hi there!</p>
	    	<p>It works!</p>
    	</div>

    	<div>
    		<p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Isn't this fun! Looks pretty rubbish right now though...</p>
    	</div>

    	<div>
    		<ul><li>Follow me on Twitter!</li><li><a href="https://twitter.com/Lizzieab">Lizzie's Twitter</a></li><li>Follow Django Girls on Twitter!</li><li><a href="https://twitter.com/djangogirls">Django Girls</a></li><li>Follow Django Girls at PyCon UK on Facebook!</li><li><a href="https://www.facebook.com/DjangoGirlsPyConUK/">Django Girls at PyCon UK</a></li></ul>
    	</div>
	</body>
</html>